<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Data Pemesanan</title>
</head>
<body>
    <h1>Create Data Pemesanan</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>Data Pemesanan</th>
                <td>
                    <label IDpelanggan>
                        <input type="text" name="IDpelanggan">
                    </label>
                </td>
            </tr>
            <tr>
                <th>Tanggal Pemesanan</th>
                <td>
                    <input type="date" name="tanggalpemesanan">
                </td>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
</body>
</html>