<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pemesanan</title>
</head>
<body>
    <h1>Data Pemesanan</h1>
    <table>
        <tbody>
            <tr>
                <th>ID Pelanggan</th>
                <th>Tanggal Pemesanan</th>
            </tr>
            {% for item in pemesananall %}
            <tr>
                <td>{{ item.IDpelanggan }}</td>
                <td>{{ item.tanggalpemesanan }}</td>
                <td>
                    <a href="{% url 'updatedatapemesanan' item.IDpemesanan %}">
                        <button>Update</button>
                    </a>
                    <a href="{% url 'deletedatapemesanan' item.IDpemesanan %}">
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <a href="{% url 'createdatapemesanan' %}">
        <button>
            Create Data
        </button>
    </a>
</body>
</html>
        </tbody>
    </table>
</body>
</html>