<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Data Detail Pesanan</title>
</head>
<body>
    <a href="{% url 'detailpesanan' %}">
        <button>
            Back
        </button>
    </a>
    <h1>Create Data Detail Pesanan</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>ID Pemesanan</th>
                <td>
                    <select name="IDpemesanan" id="" class="form-control">
                        <option value=""></option>
                        {% for item in pemesananall %}
                        <option value="{{ item.IDpemesanan }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>ID Baju</th>
                <td>
                    <select name="IDbaju" id="" class="form-control">
                        <option value=""></option>
                        {% for item in bajuall %}
                        <option value="{{ item.IDbaju }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Jenis Kain :</th>
                <td>
                    <input type="text" name="Jeniskain">
                </td>
            </tr>
            <tr>
                <th>Ukuran Baju :</th>
                <td>
                   <select name="Ukuranbaju">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                   </select>
                </td>
            </tr>
            <tr>
                <th>Jumlah Item Pesanan :</th>
                <td>
                    <input type="text" name="Jumlahitempesanan">
                </td>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
</body>
</html>